@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* header */
#header{
    background:black;
    display: flex;
    justify-content:space-between;
}
#header p{
    font-weight: bold;
    color: white;
    margin: auto 10px;
}
#header ul {
    display: flex;
    color: white;
}
#header ul li{
    margin: 20px 10px;
    font-size: 13px;
    list-style: none;
    display: flex;
}
#header a{
    color:white;
    text-decoration: none;
    display: block;
}
/* title */
#main-title{
    background: url(../coachtech/kadai/eyecatch.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
    position: relative;
}
#main-title h1{
    font-style: italic;
    font-size: 45px;
    color: white;
    position: absolute;
    top: 60%;
    left: 10%;
}
.news-wrap{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10%;
    width: 50%;
}
.news{
    color: black;
    background: white;
    width: 85%;
}
.date{
    font-size: 13px;
    padding: 3px 0 0 3px;
}
.news-title{
    padding: 10px 0 0 10px;
    font-size: 13px;
}
.news-button{
    background: black;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-button a{
    text-decoration: none;
    color: white;
    font-size:  15px;
    display: block;
}
/* mission */
#mission{
    height: 400px;
    background: black;
    position: relative;
}
.mission-wrap{
    color: white;
    width: 50%;
    position: absolute;
    left: 15%;
    top: 25%;
    z-index: 10;
}
#mission h3{
    font-size: 20px;
    margin-bottom: 1.5em;
    line-height: 1.5;
}
#mission p{
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 1.5;
}
#mission a{
    color: black;
    background: white;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 12px;
}
#mission img{
    width: 40%;
    height: auto;
    position:absolute;
    right: 10%;
    bottom:-10%;
}
/* service */
#service{
    background: rgb(231, 231, 231);
    position: relative;
    margin-top: 100px;
}

#service h2{
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    margin: 0;
}
.web1{
    width: 30%;
    padding: 60px;
    background: white;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 12px;
}
#service h3{
    padding-bottom: 15px;
}
#service p{
    padding-bottom: 15px;
    line-height: 1.5;
}
#service a{
    color: black;
    display: block;
    text-decoration: none;
    width: 130px;
    padding: 10px 0;
    text-align:center;
    border: solid 1px black;
    margin: 0 0 0 auto;
}
.img1{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 0 0 auto;

}
.img2{
    display: block;
    width: 50%;
    height: auto;
    padding: 150px 0;

}
.web2{
    width: 30%;
    padding: 60px;
    background: white;
    position: absolute;
    top: 57%;
    left: 41%;
    font-size: 12px;
}
/* cmp-rct */
#cmp-rct{
    
    display: flex;
    justify-content: space-between;

}
.company{
    width: 48%;
    padding: 100px 0;
    text-align: center;
    background: url(../coachtech/kadai/company.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 150px;
    display: block;
    text-decoration: none;
}
.company h2{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 20px 0;
}
.company p{
    font-weight: bold;
    color: white;
}
.recruit{
    width: 48%;
    padding: 100px 0;
    text-align: center;
    background: url(../coachtech/kadai/recruit.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 150px;
    display: block;
    text-decoration: none;
}
.recruit h2{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 20px 0;
}
.recruit p{
    font-weight: bold;
    color: white;
}
/* faq */
#faq-wrap{
    margin: 150px auto;
    padding: 50px 0;
    background: black;
    display: block;
    text-decoration: none;
    display: flex;
    width: 80%;
    box-sizing: border-box;
}
#faq-wrap h2{
    font-size: 30px;
    color:white;
    padding: 0 0 0 30px;
}
#faq-wrap p{
    color: white;
    margin: auto;
    padding: 0 70px 0 0;
}
/* contact */
#contact{
    background: url(../coachtech/kadai/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    line-height: 1.5;
    position: relative;
}
#contact h2{
    font-size: 28px;
    padding: 100px 0 10px 0;
}
.jp-contact{
    font-weight: bold;
}
.free{
    font-size: 30px;
    padding: 30px 0;
}
.document{
    font-size: 13px;
    padding-bottom: 30px;
}
#contact a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 10px 0;
    display: block;
    display: inline-block;
    margin-bottom: 100px;
    width: 130px;
}
/* hooter */
#hooter{
    background:black;
    display: flex;
    justify-content:space-between;
}
#hooter p{
    font-weight: bold;
    color: white;
    margin: auto 10px;
}
#hooter ul {
    display: flex;
    color: white;
}
#hooter li{
    margin: 20px 10px;
    font-size: 13px;
    list-style: none;
}
#hooter a{
    color:white;
    text-decoration: none;
}
/* copyright */
#copyright{
    background:black;
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
}

@media screen and (max-width: 768px){


    /* main */
    #main-title h1{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        font-size: 60px;
        text-align: center;
    }
    .news-wrap{
        width: 100%;
    }
    /* mission */
    .mission-wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
    }
    /* service */
    #service{
    }
    .service-wrap{
    }
    .web1,
    .web2{
        width: 90%;
        position: static;
        box-sizing: border-box;
        padding: 20px;
        margin: 0 auto;
    }
    .web2{
    }
    .img1,
    .img2{
        position: static;
        width: 90%;
        height: auto;
    }
    .img1{
        margin: 0 auto;
    }
    .img2{
        padding: 0;
        margin: 50px auto 0;
    }
    /* company-recruit */
    #cmp-rct{
        flex-wrap: wrap;
    }
    .company,
    .recruit{
        width: 100%;
    }
    .company{
        margin-top: 40px;
    }
    .recruit{
        margin: 0;
    }
    /* faq */
    #faq-wrap{
        margin: 20px auto;
        width: 98%;
    }
}